body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #EDEDEE;
}

Table {
  counter-reset: tableCount;     
}
.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}

#slc{
  height:36px;
  width:37px;
  align-content: center;
}

#slctset{
  margin-top:8px;
}

.mt-10{
  margin-top:10px;
}

#slct{
  display: inline-flex;
  float:right;
}

#wrap{
  display: flex;
  justify-content: space-between
}

#doe{
  margin-left:80px!important;
}

#addProd{
  cursor: pointer;
  width:3%;
  margin-top:0;
  padding:0;
  display: inline-block;
}

#datalistCard{
  width:100%;
  display:inline-flex;
}

#prodDeet{
  width:30%;
  margin: 0;
  padding: 0;
  display: inline-block; 
}
#prodDeet1{
  width:33%;
  text-align: center;
  margin-top:0;
  padding:0;
  display: inline-block;
}

#redd{
  color:red !important;
}

#rptt{
  margin: 0;
  padding:0;
}

#Lfont{
  color:black;
  font-size: 30px;
}


#Lfont1{
  color:black;
  font-size: 22px;
}

#prodDeet2{
  width:30%;
  margin-top:0;
  padding:0;
  display: block;
}

#datalst{
  width:96%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

@media (max-width: 991px) {
  #datalst{
    width:94%;
  }

  .profitloss{
    max-width:150px;
  }

}

@media (max-width: 1125px) {
  #datalst{
    width:95%;
  }}  


#fLeft{
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

#loginLabel{

  display: block;
  margin-left: 44px;
  margin-bottom: 0;
  margin-top: 0;
  padding:0;

}


#loginLabel1{

  margin-right:37%;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding:0;

}

#noti{
  width:100px;
  margin-left: 40%;
}

#margin0{
  margin:0;
  padding:0;
  border:0;
}

#inline-block-parent{
  white-space: nowrap;
}
  
#emailsbmt{
  margin-left:45%;
}

a{
  color: inherit;
}

.load{
  height: 100vh;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.list-group-flush{
  color: #495057;
}

#denyaccpt{
  display:inline-flex;
  min-width: 40%;
  float: left;
}

.active{
  background-color: #e9ecef !;
}

main {
  background-color: #EDEDEE;
}

.navbar-brand{
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
  
}


.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content{
  margin-left: 270px;
  min-height : calc(100vh - 6rem);
}    


.sidebar-fixed .logo-wrapper img{
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  background-color: #f8f9fa
}


.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle{
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3, .card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline{
  flex-flow: unset
}

.breadcrumb{
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;
}

.page-footer{
  margin-left: 270px;
  height: 6rem;
  /* margin-top:calc(5% + 60px); */
  
}

@media (max-width: 767px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  .profitloss{
    width:auto;
  }

  #content{
    margin-left: 0px;
  }

  .page-footer{
    margin-left: 0px;
  }
  
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  } 
}

@media (max-width: 576px) { 
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
}


#bgimg{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets/web.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width:100%;

}

#blck{
  color:black;
}

#clr{
  margin-top: 10px;
}

#total{
  text-align: center;
}

#total1{
  
  z-index: 1;
}

#sbb{
  height:20px;
  width:8px;
}

#bell{
  padding-top: 8px;
  cursor: pointer;
}

#updDel{
  margin-left: 12px;
}

#logout{
  padding:0;
  margin:0;
}

#visi {
  display: none;
}
@media only screen and (max-width: 767px) {
  #visi {
    display: block;
  }

}

@media only screen and (min-width:768px){
#rpts{
  margin-left:50px;
}

}
 
#rpts{
  border-radius: 5px;
  background-color: #B0C4DE;
}

#rpts:hover{
  background-color: #F0FFFF;
}

#card-table{
  margin:0;
  padding:0;
}
  
#sbmt1{
margin-left:30%;
margin-top: 10px;
}

#sbmt2{
  margin-top:10px;
}

@media (max-width: 991px) {
  #sbmt1{
    margin-left:10%;
  }}

  @media (max-width: 767px) {
    #sbmt1{
      margin-left:3%;
    }}  


#font{
  font-size: 25px;
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tp{
text-align:center;
color:black !important;
}

#sbmt{
  margin-left:36%;
  margin-top: 20px;
}

#margin-card{
  margin-top:60px;
}

#back{
position: absolute;
}

#backLogout{
  float:left;
}

#col{
background-color: lightskyblue;
}

#selectWidth{
  min-width: 55%;
}

#ml-50{
  margin-left:45px;
}

#red{
color:red;
}

#redFont{
  color:red;
  font-size: 22px;
  }

/* Add animation to "page content" */
.animate-bottom {
position: relative;
color: white;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}


.topbtn1{
  position:absolute;
  top:10px;
  right:0;
  margin-right: 100px;
}

.topbtn2{
  position:absolute;
  top:10px;
  right:0;

 
}

#container1{
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background-image: url('./assets/web.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100vh;
}

#container2{
  background-image: url('./assets/web.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.form-style-2{
  
  font: 15px Arial, Helvetica, sans-serif;
}

.form-style-2 label{
  display: block;
  margin: 0px 0px 0px 0px;
}
.form-style-2 label > span{
  color:black;
}
.form-style-2 span.required{
  color:red;
}

.btnpos{
  margin-top:16px;
  color:cyan;
}

.ftrpos{
  bottom: 0;
  position:relative;
  width:100%;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.lnks {
  color: white;
  text-decoration:none;
  font-size: 24px;
  
}

.lnks:hover{
  color:blue;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}


.tagline{
  font-size:25px;
  font-weight: 300;
}

