 #container2{
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('./web.png');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
         
        }

#cont2{
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('./web.png');
}        

#sbmt{
    margin-left:40%;
    margin-top: 20px;
}

#tp{
    text-align:center;
}

#back{
    position: absolute;
}

#col{
    background-color: lightskyblue;
}

#red{
    color:red;
}